<div id="<%= dom_id company %>">
  <div>
    <strong>Name:</strong>
    <%= company.name %>
  </div>

  <div>
    <strong>Slug:</strong>
    <%= company.slug %>
  </div>

  <div>
    <strong>Industry:</strong>
    <%= company.industry_id %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= company.description %>
  </div>

  <div>
    <strong>Last contacted at:</strong>
    <%= company.last_contacted_at %>
  </div>

</div>
