<div class="container py-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= form_with(model: company) do |form| %>
        <% if company.errors.any? %>
          <div class="alert alert-danger">
            <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

            <ul>
              <% company.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="mb-3">
          <%= form.label :name, class: "form-label" %>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :industry_id, class: "form-label" %>
          <%= form.select :industry_id, Industry.pluck(:name, :id), {}, class: "form-select" %>
        </div>

        <div class="mb-3">
          <%= form.label :description, class: "form-label" %>
          <%= form.textarea :description, class: "form-control" %>
        </div>

        <div class="mb-3">
          <%= form.label :last_contacted_at, class: "form-label" %>
          <%= form.datetime_field :last_contacted_at, class: "form-control" %>
        </div>

        <div>
          <%= form.submit class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
